<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ultimate QA Test Automation Test Suite">
	<test name="Ultimate QA Test Automation Test Cases">
		<classes>
			<class name="com.testautomation.tests.SignInPageTest" />
			<class name="com.testautomation.tests.HomePageTest" />
		</classes>
	</test>
</suite>